/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333333;
  color: white;
  padding: 3em;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}
